@model ProyectoSeguridad.Models.Calculos
using ProyectoSeguridad.Models.Control;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Calculos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivoValor" class="control-label"></label>
                <select asp-for="ActivoValor" asp-items="ViewBag.Activos" class="form-control" min="1" max="9"></select>
                <span asp-validation-for="ActivoValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VulnerabilidadValor" class="control-label"></label>
                <select asp-for="VulnerabilidadValor" asp-items="ViewBag.Vulnerabilidades" class="form-control" min="1" max="10"></select>
                <span asp-validation-for="VulnerabilidadValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmenazaValor" class="control-label"></label>
                <select asp-for="AmenazaValor" asp-items="ViewBag.Amenazas" class="form-control" min="1" max="10"></select>
                <span asp-validation-for="AmenazaValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" class="form-control" disabled="disabled" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
